@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&display=swap');

:root {
  /* VARIABLES */

  /* Colors */

  --primary-bg-color: #031b3f;
  --primary-bg-color-translucent: #0161a1;
  --primary-accent-color: #007ccf;
  --secondary-accent-color: #cde0ff;

  /* Fonts */

  --primary-font: "Montserrat Alternates";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}

/* GLOBALS */

.page {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-bg-color);
}

.accented {
  color: var(--primary-accent-color);
}

.title {
  color: var(--primary-accent-color);
  font-size: 3rem;
}

/* HEADER */

#header {
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-bg-color-translucent);
}

/* LANDING PAGE */

#landing-page {
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--primary-bg-color);
  color: #fff;
}

.apply-button {
  width: 3rem;
  height: 1rem;
  z-index: 100;
}

#landing-title {
  font-size: 4rem;
  font-weight: bold;
}

.details-landing {
  font-size: 1.2rem;
}

#bennet-link-image {
  height: 1.3rem;
  width: 1.3rem;
}

/* ABOUT PAGE */

#about-page #about-section {
  margin-top: 4rem;
  background-color: var(--primary-bg-color-translucent);
  color: var(--secondary-accent-color);
  min-width: 45rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* TIMELINE PAGE */

#timeline-page img {
  top: 0;
}

#timeline-page {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 16rem;
}

#timeline-page::after {
  content: '';
  position: absolute;
  width: 2px;
  background: var(--secondary-accent-color);
  top: 22%;
  bottom: 22.5%;
  left: 50%;
  margin-left: -1px;
}

.timeline-heading {
  position: relative;
  margin-top: -9rem;
  padding-bottom: 6rem;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 40%;
}

.container.left {
  position: relative;
  left: -20%;
}

.container.right {
  position: relative;
  left: 19.9%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: var(--primary-bg-color);
  border: 2px solid var(--secondary-accent-color);
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: var(--secondary-accent-color);
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: var(--secondary-accent-color);
  text-transform: uppercase;
  /* letter-spacing: 1px;
  z-index: 1; */
}

.container.left .date {
  right: -135px;
}

.container.right .date {
  left: -135px;
}

.container .content {
  padding: 20px;
  background: var(--primary-accent-color);
  position: relative;
  border-radius: 10px;
}

.container.right .content {
  padding: 20px;
  border-radius: 10px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: var(--secondary-accent-color);
  font-weight: 600;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: var(--secondary-accent-color);
}


/* SPONSOR PAGE */

.sponsor-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
  height: 35rem;
  width: 60rem;
  color: var(--secondary-accent-color);
  font-size: 2rem;
}

.sponsor-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 10rem;
  width: 100%;
}

.card {
  display: grid;
  height: 10rem;
  width: 20rem;
  grid-template-rows: 3fr 7fr;
  grid-template-areas: "title"
                       "logo";
}

.card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  grid-area: title;
  color: var(--primary-accent-color);
}

.card-logo {
  grid-area: logo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CONTACT PAGE */

#contact-page {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bg-color);
  color: var(--secondary-accent-color);
  font-size: 2rem;
}

/* FOOTER */

#footer {
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-bg-color-translucent);
}

#footer a {
  text-decoration: none;
  color: var(--secondary-accent-color);
}