:root {
  /* VARIABLES */

  --primary-bg-color: #000000;
  --primary-accent-color: #8dce15;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GLOBALS */

.page {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid blue;
}

/* HEADER */

#header {
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid red;
}

/* LANDING PAGE */

#landing-page {
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--primary-bg-color);
  color: #fff;
}

#illustration-container {
  height: 20rem;
  width: 20rem;
  background-color: var(--primary-accent-color);
}

/* ABOUT PAGE */

#about-page {}


/* TIMELINE PAGE */

#timeline-page img {
  top: 0;
}

#timeline-page {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 16rem;
}

#timeline-page::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #0f2127;
  top: 22%;
  bottom: 22.5%;
  left: 50%;
  margin-left: -1px;
}

.timeline-heading {
  position: relative;
  margin-top: -9rem;
  padding-bottom: 6rem;
}

.timeline-heading h1 {
  font-size: 3rem;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 40%;
}

.container.left {
  position: relative;
  left: -20%;
}

.container.right {
  position: relative;
  left: 19.9%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #0f2127;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #0f2127;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #0f2127;
  text-transform: uppercase;
  /* letter-spacing: 1px;
  z-index: 1; */
}

.container.left .date {
  right: -135px;
}

.container.right .date {
  left: -135px;
}

.container .content {
  padding: 20px;
  background: #F6D155;
  position: relative;
  border-radius: 10px;
}

.container.right .content {
  padding: 20px;
  border-radius: 10px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #000000;
  font-weight: 600;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #0f2127;
}


/* SPONSOR PAGE */

#sponsor-page {}

/* CONTACT PAGE */

#contact-page {}

/* FOOTER */

#footer {
  min-height: 15vh;
}